Welcome
<div id="current-time"></div>
<div style="position:relative; width: 800px; height: 600px; border: solid 1px;">
  <div id="box" style="position: absolute;border: solid 1px #ee0000;"></div>
</div>